<table>
  <tbody>
    <tr>
      <th><%= l(:option_api_access_key) %></th>
      <td>
        <input
          type="text"
          id="settings_notification_default"
          value="<%= settings['notification_default'] %>"
          name="settings[notification_default]" >
      </td>
    </tr>
  </tbody>
</table>