<table>
  <tbody>
    <tr>
      <th><%= l(:option_api_access_key) %></th>
      <td>
        <input
          type="text"
          id="settings_api_access_key"
          value="<%= settings['api_access_key'] %>"
            name="settings[api_access_key]" >
          </td>
    </tr>
  </tbody>
</table>